:root {
    --background: #ffffff;
    --text-primary: #010101;
    --text-secondary: #5d5d5d;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
}

h1,
h2,
h3,
h4,
h5 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

p {
    margin: 10px 0px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-secondary);
}

button {
    padding: 8px 16px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

body {
    margin: 0px auto;
    width: calc(100% - 40px);
    max-width: calc(940px - 40px);
    background-color: var(--background);
}

header {
    margin: 0px auto;
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
}

header nav {
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

header nav div img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

header nav div h1 {
    margin: 0px 0px 0px 20px;
}

#con01 {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
}

#con03 {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#con03 div {
    width: calc(50%);
    height: fit-content;
}

#con03 div h2 {
    margin: 0px 0px 20px 0px;
}

footer {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================================== */


.material-symbols-outlined {
    margin: 0px 8px 0px 8px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 24
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
}



p {
    font-size: 18px;
    font-weight: 400;
}




footer a {
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    text-decoration: none;
    color: #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 0px;
    width: 100%;
    height: fit-content;
}

#container_one,
#container_two {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border: 1px solid #bebebe;
}

#container_one p,
#container_two p {
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}

.container_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: #f0f0f0;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid transparent;
}

.container_button:hover {
    border: 1px solid #5d5d5d;
}